In [12]:
import pandas as pd

In [13]:
#creating a dataframe from pandas library using a csv file
df=pd.read_csv("fruits.csv")

In [14]:
df

    Color  Diameter  Fruit
0     Red         5  Apple
1     Red         6  Apple
2  Yellow         3  Lemon
3  Yellow         7  Apple
4    Red          8  Apple
5  Yellow         4  Lemon

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
from sklearn.preprocessing import LabelEncoder
#importing sub library LabelEncoder from sklearn library
#label encoder is used for converting the output from non-num to num form

In [17]:
enc=LabelEncoder()

In [18]:
enc.fit(df.Color)

LabelEncoder()

In [19]:
enc

LabelEncoder()

In [20]:
df.Color=enc.transform(df.Color)

In [21]:
df

   Color  Diameter  Fruit
0      0         5  Apple
1      0         6  Apple
2      2         3  Lemon
3      2         7  Apple
4      1         8  Apple
5      2         4  Lemon

In [30]:
x=df.iloc[:,:2].values

In [31]:
x

array([[0, 5],
       [0, 6],
       [2, 3],
       [2, 7],
       [1, 8],
       [2, 4]], dtype=int64)

In [32]:
type(x)

numpy.ndarray

In [33]:
y=df.iloc[:,2].values

In [34]:
y

array(['Apple', 'Apple', 'Lemon', 'Apple', 'Apple', 'Lemon'], dtype=object)

In [41]:
from sklearn.linear_model import LogisticRegression

In [42]:
model=LogisticRegression()

In [58]:
model.fit(x,y)

D:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [65]:
y_pred=model.predict([[1,10]])

In [68]:
y_pred

array(['Apple'], dtype=object)